body{
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background: hsl(217, 54%, 11%);
}
.card{
    background: hsl(216, 50%, 16%);
    margin: 5rem auto;
    width: 20%;
    height: 20%;
    border-radius: 0.375rem;
    padding-top: 20px;
    font-size: 18px;
    position: relative;
}
.card img{
    display: block;
    width: 250px;
    height: 250px;
    margin: auto;
    border-radius: 7px;
}
.card div{
  position: absolute;
  top: 0;
  background-color: hsl(178, 100%, 50%, 60%);
  width: 100%;
  height: calc(100% - 4px);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  height: 250px;
  transform: translateY(20px);
    width: 250px;
    left: 76px;
    border-radius: 7px;
}
.card div:hover{
    opacity: 1;
    cursor: pointer;
}
.card div img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
} 
.card h4{
    margin-left: 75px;
    color: #fff;
}
.card h4:hover{
    color: aqua;
    cursor: pointer;
}
.card h5{
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    margin-left: 71px;
    width: 61%;

}
.card ul li img{
    width: 10px;
    height: 10px;
    transform: translateX(27px);
}
.card ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.card ul li{
    display: flex;
}
#eth{
    color: aqua;
    transform: translateX(-35px);

}
#days{
    transform: translateX(-38px);
}


.avatar{
    border-top: 2px solid hsl(215, 32%, 27%);
    width: 70%;
    margin: -20px auto;
    display: flex;
}
.avatar img{
    height: 25px;
    width: 25px;
    border:2px solid #fff;
    border-radius: 50%;
    transform: translateX(-55px);
}
.avatar h6{
    transform: translateX(-90px);
    color:  hsl(215, 32%, 27%);
}
.avatar span{
    color: #fff;
}
.avatar span:hover{
    color: aqua;
    cursor: pointer;
}
.avatar span{
    padding:5px;
}

@media (min-width: 500px) {
    .container .card {
      width: 400px;
      margin: 3rem auto;
      
    }
  }